@charset "UTF-8";

@import 'Core/util/constants';

/*@font-face {
  font-family: "思源宋体";
  //noinspection CssUnknownTarget
  src: url("assets/fonts/SourceHanSerifCN-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LXGW";
  //noinspection CssUnknownTarget
  src: url("assets/fonts/LXGWWenKai-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WebgalUI";
  //noinspection CssUnknownTarget
  src: url("assets/fonts/OPPOSans-R.ttf") format("truetype");
}*/

@font-face {
  font-family: 'MavenPro';
  /*noinspection CssUnknownTarget*/
  src: url('assets/fonts/MavenPro.woff2') format('woff2');
}

@font-face {
  font-family: 'WebgalUI';
  /*noinspection CssUnknownTarget*/
  src: url('assets/fonts/HanaMinA.woff2') format('woff2');
}

/*#trans-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 114;
  opacity: 1;
  background-color: #000;
  transition: opacity 1s;
  div {
    background: #fff;
    box-shadow: 0 0 0 0 #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    animation: trans_blink 2s infinite;
  }
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23000000' fill-opacity='0.3'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@keyframes trans_blink {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 36px #80808000;
  }
  75% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0 #80808099;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 36px #80808000;
  }
}*/

@keyframes StartButton_blink {
  0% {
    text-shadow: 0 0 0px #000;
  }
  50% {
    text-shadow: 0 0 36px #fff;
  }
  100% {
    text-shadow: 0 0 0px #000;
  }
}

a {
  transition: color 1s;
  text-decoration: none;
}

a:link {
  color: #a0a0a0;
}

a:visited {
  color: #a0a0a0;
}

a:hover {
  color: #c2c2c2;
}

a:active {
  color: #a0a0a0;
}

body {
  background-color: #000;
  font-size: 16px;
  margin: 0;
  font-family: 'WebgalUI', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: $screenWidth;
  height: $screenHeight;
  overflow: hidden;
  /*position: absolute;*/
  /*top: 0;*/
  font-size: 160%;
}

#Title_bg_container {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #000;
  top: 0;
  z-index: 16;
  transition: opacity 1s;
}

#Title_enter_page {
  width: 2560px;
  height: 1440px;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 14;
  opacity: 1;
  transition: opacity 250ms;
}

#Title_enter_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 15;
  font-family: 'MavenPro', Georgia, serif;
  transition: opacity 500ms;

  #enter-buttom {
    animation: StartButton_blink 2s infinite;
    color: #fff;
    letter-spacing: 0.25em;
    z-index: 16;
    //padding: 0.25em;
    text-shadow: 0 0 0 0 #fff;
    transition: text-shadow 1s;
    font-size: 300%;
    //background: linear-gradient(to right, #202020, #990000) no-repeat right bottom;
    background: linear-gradient(to right, #202020, #606060) no-repeat right bottom;
    background-size: 0 20px;
    transition: background-size 0.33s, font-size 0.33s;
    //background: #fff;
    //border-radius: 20px;
  }
  #enter-buttom:hover {
    background-size: 100% 20px;
    background-position: left bottom;
  }
  #enter-buttom:active {
    //background-size: 0 20px;
    font-size: 270%;
  }

  #footer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: column;
    align-items: center;
    div {
      padding: 0 0 0.25em 0;
      color: #fff;
    }
    font-size: 200%;
  }
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: 0 0 10px #ffffff33;
  -webkit-box-shadow: 0 0 10px #ffffff33;
  background: #ffffff33;
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff80;
  box-shadow: 0 0 10px #00000026;
  -webkit-box-shadow: 0 0 10px #00000026;
}

#ebg {
  height: 100vh;
  width: 100vw;
  filter: blur(30px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* ::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(255,0,0,0.4);
} */

/*@media screen and (orientation: portrait) {*/
/*    !*竖屏 css*!*/
/*    #root {*/
/*        !*transform-origin: calc(100vw / 2) calc(100vw / 2);*!*/
/*        transform: rotate(90deg);*/
/*        width: 1600px;*/
/*        height: 900px;*/
/*        overflow: hidden;*/
/*    }*/
/*}*/

/*@media screen and (orientation: landscape) {*/
/*    !*横屏 css*!*/
/*    #root {*/
/*        width: 1600px;*/
/*        height: 900px;*/
/*        overflow: hidden;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1100px) {*/
/*    !*手机端视图*!*/
/*    #root {*/
/*        font-size: 50%;*/
/*    }*/
/*}*/

/*@media screen and (max-height: 650px) {*/
/*    !*手机端视图*!*/
/*    #root {*/
/*        font-size: 50%;*/
/*    }*/
/*}*/

.App {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  perspective: 0;
  -webkit-overflow-scrolling: auto;
}

* {
  /*-webkit-overflow-scrolling: auto;*/
}

#pixiCanvas {
  z-index: 5;
}

#root {
  /*will-change: transform;*/
}
