.NormalButton {
  font-size: 150%;
  box-sizing: border-box;
  padding: 0.2em 1em 0.2em 1em;
  background-color: #1d192b;
  margin: 0 0.4em 0 0;
  color: #e8def890;
  cursor: pointer;
  border-top: 7px solid transparent;
  transition-duration: 0.7s;
}

.NormalButton:hover {
  border-top: 7px solid #e8def8;
  color: #e8def8;
  letter-spacing: 2px;
  transition-duration: 0.7s;
}

.NormalButtonChecked {
  background-color: #625b71;
  border-top: 7px solid #e8def890;
  color: #e8def8;
  transition-duration: 0.7s;
}
