.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff30;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.backButton:hover {
  background: #ffffff50;
}

.about {
  padding: 10px 0 0 0;
}

.icon {
  display: inline-flex;
}

.title {
  color: transparent;
  //background: linear-gradient(to left, #227D51, rgba(81, 110, 65, 1));
  background: #ffffffaa;
  -webkit-background-clip: text;
  font-size: 200%;
  //border-bottom: 2px solid rgba(81, 110, 65, 0.9);
  padding: 0.15em 0.5em 0.15em 0.1em;
  font-weight: bold;
  margin-top: 20px;
}

.text {
  color: #ffffff80;
  padding: 0 0 0 10px;
  font-size: 135%;
  transition: text-decoration 0.2s;
  a {
    color: #ffffff80;
  }
}

.text:hover {
  text-decoration: underline 5px;
}

.contributor {
  padding: 0 10px 0 0;
}
