.Choose_Main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: #0000000d;
}

.Choose_item {
  font-family: 'WebgalUI', serif;
  cursor: pointer;
  min-width: 50%;
  padding: 0.25em 1em 0.25em 1em;
  font-size: 265%;
  color: #ffffffaa;
  text-align: center;
  // border-radius: 4px;
  border: 3px solid #00000000;
  box-shadow: 0 0 25px #00000040;
  background: #00000030;
  margin: 0.25em 0 0.25em 0;
  backdrop-filter: blur(30px);
  transition: background 0.2s, border 0.2s, font-weight 0.2s, box-shadow 0.2s;
}

//.title {
//  cursor: pointer;
//  min-width: 50%;
//  padding: 0.25em 1em 0.25em 1em;
//  font-size: 265%;
//  color: #8E354A;
//  text-align: center;
//  border-radius: 4px;
//  border: 3px solid rgba(0, 0, 0, 0);
//  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
//  background: rgba(255, 255, 255, 0.65);
//  margin: 0.25em 0 0.25em 0;
//  transition: background-color 0.5s, border 0.5s, font-weight 0.5s, box-shadow 0.5s;
//}

.glabalDialog_container_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 0 0 25px #00000040;
  background: #00000030;
  backdrop-filter: blur(30px);
  padding: 1em 5em 1em 5em;
}

.glabalDialog_container {
  // height: 20%;
  color: white;
  width: 100%;
  border-top: 15px solid #00000030;
}

.title {
  font-size: 300%;
  letter-spacing: 0.05em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.Choose_item:hover {
  //font-weight: bold;
  background: #00000080;
  box-shadow: 0 0 25px #00000080;
}

.button {
  font-size: 200%;
  padding: 0.15em 1em 0.15em 1em;
  margin: 0.2em 1em 0 1em;
  cursor: pointer;
  border-bottom: 7px solid #00000000;
  transition: border-bottom 0.2s, background-color 0.2s, color 0.2s, font-weight 0.2s, transform 0.2s;
  //background: rgba(0, 0, 0, 0.05);
}

.button:hover {
  color: #ffffffcc;
  text-shadow: 0 0 15px #00000000;
  background: #ffffff10;
  border-bottom: 7px solid #ffffffcc;
}
