.GlobalDialog_main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  background: #ffffff10;
  color: white;
  opacity: 0.5;
  animation: showGlobalDialog 0.2s forwards;
  display: flex;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  //font-family: "WebgalUI", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: 'WebgalUI', serif;
}

.glabalDialog_container_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #000000aa;
  padding: 1em 5em 1em 5em;
}

.glabalDialog_container {
  height: 20%;
  width: 100%;
  border-top: 15px solid #00000030;
  //padding: 1px 1px 1px 1px;
}

.title {
  font-size: 300%;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.button_list {
  display: flex;
  margin: auto 0 0 0;
}

.button {
  font-size: 200%;
  padding: 0.15em 1em 0.15em 1em;
  margin: 0.2em 1em 0 1em;
  cursor: pointer;
  //border-bottom: 7px solid #00000000;
  transition:  background-color 0.2s, color 0.2s, font-weight 0.2s, transform 0.2s;
  //text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  //border-radius: 5px;
  //background: rgba(0, 0, 0, 0.05);
}

.button:hover {
  //font-weight: bold;
  color: #ffffffcc;
  text-shadow: 0 0 15px #00000000;
  background: #ffffff10;
  //border-bottom: 7px solid #ffffffcc;
}

@keyframes showGlobalDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
